html, body {
    min-height: 100%;
}

body {
    background: url(https://static.wixstatic.com/media/54ac61_daf518c3e8c244cd8a9b7f3eaafd6326~mv2.jpg/v1/fill/w_1032,h_839,al_c,q_85,usm_0.66_1.00_0.01/43_Pathak%2C%20Shruti.webp) center center no-repeat;
    background-position: top right;
    height: 100vh;
    width:auto;
    margin: 0;
    background-size:800px;
}

.content {
    height: 100vh;
    width: 6vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 100px;
}

.call-to-action {
    text-align: left;
}

.call-to-action h1 {
    font-family: 'Poppins-semibold', 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 50px;
    text-align: left;
    width: 50vw;
}

.call-to-action a {
    font-size: 20px ;
    color: #ff0000;
    position:relative;
    padding: 3px;
    padding-left: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    /* border-radius: 30%; */
}

.call-to-action a:hover {
    transition: ease-in-out 0.2s;
    color:  #404040;
}
  
.call-to-action a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: #ff0000;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
}
  
.call-to-action a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
  

@media (max-width: 750px) {
    .call-to-action h1 {
        font-size: 45px;
        color: hsl(0, 0, 16);
        position: relative;
        bottom: 200px;
    }

    .call-to-action a {
        position: relative;
        bottom: 200px;
    }

    body {
        background-position: center bottom;
        background-size: 100%;
    }

}


